@use "./variables" as vars;
@use "sass:map";
.second-grid {
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: whitesmoke;
  margin: 1rem auto;
  width: 90%;

  .grid-title {
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: bolder;
    margin-bottom: 1rem;
  }

  .beat-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
  }

  .card-beat {
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    padding: 0.5rem;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

      .audio-play-button {
        opacity: 1;
        visibility: visible;
      }
    }

    .card-image {
      width: 100%;
      height: 150px; // Reduced height
      object-fit: cover;
      border-radius: 10px;
    }

    .audio-play-button {
      position: absolute;
      top: 30%;
      left: 40%;
      background-color: rgba(255, 255, 255, 0.8);
      color: #ff9900;
      font-size: 2rem;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s, transform 0.3s;

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }

    @media (max-width: 768px) {
      .card-image {
        height: 120px;
      }

      .audio-play-button {
        font-size: 1.5rem;
        width: 30px;
        height: 30px;
      }
    }
  }
}
.third-grid {
  display: flex;
  flex-wrap: wrap;
  color: vars.$white;
  padding: vars.$base-padding;

  .topsongs {
    width: 100%; // Stack on mobile
    padding: vars.$base-padding * 2;

    h1 {
      margin-bottom: vars.$base-margin;
      font-size: clamp(1.5rem, 5vw, vars.$font-size-xl);
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: vars.$base-margin;
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: vars.$gray;
      padding: 0.5rem;
      border-radius: vars.$base-border-radius;
      box-shadow: vars.$base-box-shadow;

      .item-image-container {
        position: relative;

        .item-image {
          height: 60px;
          width: 60px;
          object-fit: cover;
          border-radius: vars.$base-border-radius;
        }

        .play-button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(255, 255, 255, 0.8);
          color: vars.$primary;
          border: none;
          padding: 0.3rem;
          border-radius: 20%;
          font-size: 1rem;
          display: none;
        }

        &:hover .play-button {
          display: flex;
        }
      }

      .item-info {
        flex: 1;
        margin-left: 0.5rem;

        h3 {
          font-size: clamp(1rem, 3vw, vars.$font-size-lg);
        }

        p {
          font-size: clamp(0.8rem, 2.5vw, vars.$base-font-size);
        }
      }
      .favorite-button {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
      
        i {
          color: #fff; // White Heart Initially
        }
      
        &:hover {
          i {
            color: #ff4d4d; // Light Red on Hover
          }
        }
      
        .favorite {
          color: #ff0000; // Red Heart when Favorite
        }
      }
      .add-button {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        margin: 0 15px;
        transition: color 0.3s ease-in-out;
      
        i {
          color: #fff; // White Heart Initially
        }
      
        &:hover {
          i {
            color: #ff4d4d; // Light Red on Hover
          }
        }
      
        .favorite {
          color: #ff0000; // Red Heart when Favorite
        }
      }
      
    }

    @media (min-width: 1024px) {
      width: 50%; // Side-by-side on larger screens
      padding: vars.$base-padding * 5;
    }
  }
}